In [1]:
from core.operation import *

In [54]:
div = pd.read_parquet(get_parquet(True) / 'data_misc.parquet.brotli')

In [141]:
price_change = pd.read_parquet(get_parquet(True) / 'data_price.parquet.brotli')

In [130]:
ticker = pd.read_parquet(get_parquet(True) / 'data_ticker.parquet.brotli')

In [142]:
price_change

                     Open    High     Low   Close       Volume
permno date
10104  2005-01-03   13.88   13.89   13.39   10.95   60319300.0
       2005-01-04   13.46   13.48   12.92   10.66   80906400.0
       2005-01-05   13.03   13.26   13.01   10.69   42548400.0
       2005-01-06   13.13   13.35   13.08   10.79   55580100.0
       2005-01-07   13.34   13.45   13.15   10.88   45685800.0
...                   ...     ...     ...     ...          ...
93436  2024-03-07  174.35  180.04  173.70  178.65  102129004.0
       2024-03-08  181.50  182.73  174.70  175.34   85544644.0
       2024-03-11  175.45  182.87  174.80  177.77   85391528.0
       2024-03-12  177.77  179.43  172.41  177.54   87391684.0
       2024-03-13  173.05  176.05  169.15  169.48  106524518.0

[4513915 rows x 5 columns]